<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Chat client!</title>
    </head>
    <style>
        #chatBody>div {
            padding: 10px;
            margin: 15px;
            border: 1px solid gold;
            background-color: bisque;
        }
    </style>

    <body>
        <h1>Welcome to real time web chat app</h1>
        <div class="container">
            <div class="row" id="chatBody">

            </div>
            <div class="row">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">anonymous: </label>
                        <input type="text" class="form-control" id="chatInput">
                    </div>
                    <button type="submit" class="btn btn-primary" id="sendBtn">Send</button>
                </form>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <!-- thư viện socket client io lấy từ sever  -->
        <script src="/socket.io/socket.io.js"></script>"></script>
        <script>
            const socket = io();
            const chatBtn = document.getElementById('sendBtn');
            const input = document.getElementById('chatInput');
            // lenh chen div vao chat body
            function appendMessage(message) {
                const body = document.getElementById('chatBody');
                const htmlMessage = document.createElement('div');
                htmlMessage.innerText = message;
                body.append(htmlMessage);
            }
            // tap lenh xu ly viec dang nhap ten
            let person = prompt("Please enter your name", "Harry Potter");

            if (person != null) {
                socket.emit('userJoined', person);
                appendMessage("you have joined");
            }
            // get hello message from socket
            socket.on('welcomeMessage', (message) => {
                const hello = "sever said: " + message;
                appendMessage(hello);
            });

            // get broadcast message from socket
            socket.on('severMessage', (message) => {
                appendMessage(message);
            });
            // tap lenh xu ly viec user moi joined
            socket.on('newUser', (user) => {
                const message = user + ' have joined';
                appendMessage(message);
            })

            // tập lệnh xử lý việc gửi message
            chatBtn.addEventListener('click', (e) => {
                e.preventDefault();
                const message = input.value;
                appendMessage(message);
                // gui socket emit
                socket.emit('chatMessage', message);
                input.value = '';
            });

        </script>
    </body>

</html>